<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listeners.ProductListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listeners.PurchaseListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>Controllers.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionView</servlet-name>
        <servlet-class>Views.TransactionView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseController</servlet-name>
        <servlet-class>Controllers.PurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseHistoryView</servlet-name>
        <servlet-class>Views.PurchaseHistoryView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/BuyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionView</servlet-name>
        <url-pattern>/TransactionView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseController</servlet-name>
        <url-pattern>/PurchaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseHistoryView</servlet-name>
        <url-pattern>/PurchaseHistoryView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
